*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
height: 100vh;
width: 80%;
margin: auto;
border: 2px solid red;
}
.parent{
    height: 60vh;
    max-width: 30%;
    border: 2px solid blue;
    border-radius: 20px;
    overflow: scroll;
    margin: 20px auto;
    padding: auto;
    position: relative;
}
.card{
    height: 200px;
    width: 170px;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid blueviolet;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow: hidden;
}
.heading{
    text-align: center;
    padding: 10px 0px;
    border: 2px solid orangered;
    background-color: pink;
}
.Images{
text-align: center;
background-color: aquamarine;
height: 150px;
}

.card_1{
    position: sticky;
    top: 0px;
}
.card_2{
    position: sticky;
    top: 33px;
}
.card_3{
    position: sticky;
    top: 65px;
}
.card_4{
    position: sticky;
    top: 70px;
}